/* main body styling */

* {
    box-sizing: border-box;
    --main-bg-color: #f8f6f6;
    --text-color: #474747;
    --transparent-black: rgb(0, 0, 0, 0.35);
    --button-color: #527d49;
    --error-color: rgb(198, 27, 27);
}

body {
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
}

#main-body {
    display: flex;
    height: 100vh;
}

#intro-text,
#form-input,
#button-area {
    padding-left: 5%;
    padding-right: 20%;
}

/* sidebar styling */

#sidebar {
    width: 40%;
}

#sidebar-img {
    height: 100%;
    width: auto;
}

#sidebar-text {
    position: relative;
    bottom: 2.5rem;
    text-align: center;
}

#caption, #caption a {
    color: white;
    font-size: .7rem;
}

#logo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--transparent-black);
    height: 8rem;
    position: relative;
    bottom: 80%;
}

#logo-text {
    font-family: 'Kode Mono', sans-serif;
    font-size: 5rem;
    color: white;
    opacity: 1;
}

#logo-img {
    width: 80px;
    opacity: 1;
}

/* main body styling */

#form-area {
    background-color:var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 80%;
}

#intro-text {
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color)
}

/* form styling */

#form-input {
    background-color: white;
    box-shadow: 0px 15px 10px -15px var(--transparent-black);
    margin-bottom: 2%;
    padding-bottom: 3%;
}

h2 {
    color: var(--text-color);
    font-size: 1.2rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
}

label {
    display: block;
    text-transform: uppercase;
    font-size: .6rem;
    color: var(--text-color);
    font-weight: bold;
}

.form-blocks {
    padding: 0px 70px 20px 0px;
}

input {
    width: 15rem;
    border: solid 1px rgb(128, 128, 128, 0.3);
    border-radius: 5px;
}

input:active {
    box-shadow: 1px 1px 5px 1px var(--transparent-black);
    border: solid 1px #51A0D5;
}

/* button area styling */

button {
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px var(--transparent-black);
    margin-top: 15px;
}

#button-area {
    font-size: .9rem;
}

#button-area p {
    padding-top: 20px;
    margin-bottom: 0;
}

#button-area a {
    color: var(--button-color);
    text-decoration: none;
    font-weight: bold;
}

/* password validation */
.error, .error:focus {
    border: solid var(--error-color);
}

#password-msg {
    visibility: hidden;
    display: none;
}

#password-msg.error {
    visibility: visible;
    display: contents;
    color: var(--error-color);
    font-size: .7rem;
    margin: 0;
    border: none;
}


/* setting styles for mobile */

@media screen and (max-width: 700px) {

    #logo-text {
        font-size: 3rem;
    }
    
    #logo-img {
        width: 40px;
    }
    
    #button-area {
        padding-bottom: 4rem;
    }
    
   fieldset {
    flex-direction: column;
   }
}